{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "overrides": [
    {
      "files": ["regExLink.js"],
      "rules": {
        "no-useless-escape": "off"
      }
    }
  ]
}

// {
//   "overrides": [
//       {
//           "files": ["*.test.js", "*.spec.js"],
//           "rules": {
//               "no-unused-expressions": "off"
//           }
//       }
//   ]
// }